
    <div class = "container">
      <div class = "row">
      <div class="small-4 columns">
      </div>
      <div class="small-4 columns">
        <h1 class = "cursive white">what i should have said.</h1>
      </div>
      <div class="small-4 columns">
      </div>
      </div>
</div>