
    <div class = "container">
      <div class = "row">
     
        <div class="small-4 small-offset-8 columns">
          <h1 class = "cursive ">what i should have said.</h1>
        </div>
        <div class="small-4 small-centered columns text-center">
          <%= link_to "sign up for w.i.s.h.s", home_dashboard_path, class: "button small-12"  %>
        </div>

        
      </div>
</div>