// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background: url() no-repeat center center fixed;
  background-size: cover;
}
.container{
  border:none;
}

.row {
  height:100%;
  border:none;
}
.small-centered {
  margin-top: 33%;
}

h1.cursive {
  font-family: 'Homemade Apple', cursive;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

button, .button, button:hover {
  background: none;
  border: 2px white solid;
}

button:hover, button:focus, .button:hover, .button:focus{
  color: white;
}

.button:focus {
  background-color: rgba(255,255,255,.3);
}

a.button {
  color:white !important;
}

a.button:hover {
  background: rgba(255,255,255,.5);
}
